<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UCImpactMarks -->
      <package
            uri="http://www.example.org/uncertaintyPropagation"
            class="org.palladiosimulator.uncertainty.impact.uncertaintypropagation.UncertaintypropagationPackage"
            genModel="model/UCImpactMarks.genmodel"/>
   </extension>

</plugin>
